table, th, td{
    border: 1px solid black;
    text-align: center;
    
    
}

h1{

    background-color: lightgray;
    width: 100%;
    height: 70px;
    margin-top: 0%;
    text-align: center;
    color: azure;
}

.betterTable {
    margin-left: auto;
    margin-right: auto;
}

.fixingSpaceIssue {

    vertical-align: bottom;

}

tr:nth-child(even) {background-color: #f2f2f2;}

h4{
    font-size: x-large;
    
}